.msg {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.msg-content {
  max-width: 75%;
  display: block;
  position: relative;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.msg-content-mine {
  border-radius: 20px 20px 3px 20px;
  padding: 7px 13px 7px 13px;
}

.msg-content-other {
  border-radius: 20px 20px 20px 3px;
  padding: 7px 13px 7px 13px;
}

.msg-content-username {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.msg-metadata {
  color: rgba(84, 110, 122, 1.0);
  font-size: .750rem;
}
