<!-- Message Bubble sent by User -->
<ng-container *ngIf="isSentByMe()">
  <div class="row msg">
    <div class="col-12 d-flex justify-content-end">
      <div class="msg-content msg-content-mine bg-primary text-white">
        <div class="">{{chatMessage.getContent()}}</div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <span class="msg-metadata">{{chatMessage.timestamp | date:'EEEE, dd.MM.yyyy HH:mm'}}</span>
    </div>
  </div>
</ng-container>

<!-- Message Bubble sent by others -->
<ng-container *ngIf="!isSentByMe()">
  <div class="row msg">
    <div class="col-12 d-flex justify-content-start">
      <div class="msg-content msg-content-other bg-secondary text-white">
        <div class="msg-content-username">{{chatMessage.senderName}}</div>
        <div class="">{{chatMessage.getContent()}}</div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-start">
      <span class="msg-metadata">{{chatMessage.timestamp | date:'EEEE, dd.MM.yyyy HH:mm'}}</span>
    </div>
  </div>
</ng-container>
