@import 'customize-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  overflow: hidden;
  background-image: url(https://subtlepatterns.com/patterns/sativa.png);
}

ec-header {
  background-color: transparent;
}

ec-footer {
  background-color: transparent;
}

