/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}


/* Customer overwrites */
ec-header {
  background-color: #A0A0A0;
}

ec-footer {
  background-color: #A0A0A0;
}
