#scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 73vh;
  min-height: 20px;
}

#chatBar {
  height: 10vh;
  min-height: 50px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #ced4da; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #adb5bd; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

.blurBackground {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}