<div class="container d-flex h-100 flex-column">
  <div class="row flex-fill d-flex justify-content-start">
    <div #scrollable class="col-12 col-lg-10 col-xl-10">
      <ec-chat-history></ec-chat-history>
    </div>
    <div class="d-none d-lg-block d-xl-block">
      <ec-users-online-desktop></ec-users-online-desktop>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-10">
      <ec-chat-bar></ec-chat-bar>
    </div>
  </div>

</div>

<ec-username-edit></ec-username-edit>

