<div class="d-lg-none d-xl-none">
  <button class="container-fluid btn btn-outline-primary border-0 btn-block" [ngbPopover]="popContent"
    popoverTitle="Aktive Nutzer" placement="bottom" popoverClass="user-popover">
    <div class="dot" [ngClass]="isConnected() ? 'connected' : 'disconnected'"></div>
    <div>{{getNumberOfOnlineUsers()}} Online</div>
  </button>
</div>

<ng-template #popContent>
  <p class="text-muted">Insgesamt {{getNumberOfOnlineUsers()}} User online</p>
  <div class="d-flex border-bottom border-secondary mt-2 mb-2" *ngFor="let user of getOnlineUsers()">
    <div class="userName">{{user.username}}</div>
    <span class="onFire pl-1 h-100" *ngIf="user.onFire">🔥</span>
  </div>
</ng-template>