<div class="d-lg-none d-xl-none">
<button class="container-fluid btn btn-outline-primary border-0 btn-block" [ngbPopover]="popContent"
  popoverTitle="Aktive Nutzer" placement="bottom" popoverClass="user-popover">
  <div class="dot" [ngClass]="isConnected() ? 'connected' : 'disconnected'"></div>
  <div>{{getNumberOfOnlineUsers()}} Online</div>
</button>
</div>

<ng-template #popContent>
  <ul class="list-group">
    <li class="list-group-item list-item-content" *ngFor="let user of getOnlineUsernames()">{{user}}</li>
  </ul>
</ng-template>
