<div class="container-fluid">
    <div class="row">
        <ec-header class="col-12 col-lg-10 col-xl-8 offset-0 offset-lg-1 offset-xl-2"></ec-header>
    </div>
    <div class="row">
        <ec-chat class="col-12 offset-0 offset-lg-1 offset-xl-2 col-lg-10 col-xl-8"></ec-chat>
        <ec-users-online-desktop class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"></ec-users-online-desktop>
    </div>
    <div class="row">
        <ec-footer class="col-12 col-lg-10 col-xl-8 offset-0 offset-lg-1 offset-xl-2"></ec-footer>
    </div>    
</div>
